.loader-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    inset: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(63, 69, 107, 0.9);
    z-index: 15;
}

@keyframes loader-wrapper {
    0% {
        left: -100px
    }

    100% {
        left: 110%;
    }
}

.loading-box {
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    animation: animate .5s linear infinite;
    border-radius: 3px;
}

@keyframes animate {
    17% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

.loading-box-shadow {
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.3;
    position: absolute;
    margin-top: 75px;
    border-radius: 50%;
    animation: loading-box-shadow .5s linear infinite;
}

@keyframes loading-box-shadow {
    50% {
        transform: scale(1.2, 1);
    }
}

h4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    font-weight: 200;
    opacity: .5;
    font-family: sans-serif;
    color: #fff;
}

.loading-text {
    position: absolute;
    margin-top: 120px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}