.blog-wrapper {
    position: relative;
    background-color: #ffff;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
    padding: 100px 25px 100px 25px;

    background-color: rgba(234, 234, 234, 0.30);
}

.blog-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.blog-list-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-list-toggle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.blog-toggle {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.blog-toggled-text {
    font-size: 22px;
    font-weight: 700;
    color: #344054;
    cursor: pointer;
}

.is-toggle {
    color: #FD853A;
}

.not-toggle {
    color: #321A50;
}

@media screen and (max-width: 768px) {
    .blog-wrapper {
        padding: 50px 25px;
    }

    .blog-list-container {
        flex-direction: column;
    }

    .blog-card-alignment {
        margin-top: 0px;
    }

    .blog-container {
        gap: 30px;
    }
}