.blog-wrapper {
    position: relative;
    background-color: #ffff;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
    padding: 100px 25px 100px 25px;

    background-color: rgba(234, 234, 234, 0.30);
}

.blog-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.blog-card-alignment {
    margin-top: 30px;
}

.blog-list-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .blog-wrapper{
        padding: 50px 25px;
    }
    .blog-list-container {
        flex-direction: column;
    }

    .blog-card-alignment {
        margin-top: 0px;
    }
    .blog-container{
        gap: 50px;
    }
}