.color-picker-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.color-picker-container {
    appearance: none;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
    border: 2px solid white;
}

  .color-picker-container::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  .color-picker-container::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }
  
  .color-picker-container::-moz-color-swatch {
    border: none;
    border-radius: 50%;
  }
  
  @media screen and (max-width: 768px) {
    .color-picker-wrapper {
        bottom: 10px;
        right: 10px;
    }
    .color-picker-container {
        appearance: none;
        width: 35px;
        height: 35px;
    }
  }