.experience-wrapper {
    background-color: #ffff;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
    padding: 100px 25px 100px 25px;
}

.experience-title {
    color: #321A50;
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    margin-top: 25px;
}

.experience-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.experience-section {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    position: relative;
}

.experience-info-left,
.experience-info-right {
    width: 100%;
    max-width: 520px;
}

.experience-container {
    position: relative;
}

.experience-main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.experience-main-container .experience-container:nth-child(even) {
    flex-direction: row-reverse;
}

.experience-main-container .experience-container:nth-child(even) .experience-info-container {
    align-items: end;
}


.experience-info-left {
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    /* background: #EE731B; */
    /* box-shadow: 0px 2px 4px 0px rgba(248, 102, 36, 0.15); */
    color: white;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 2px 4px 0px rgba(188, 188, 188, 0.12);
}
.experience-info-left > p > ul{
    margin: 0;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.experience-info-left > p{
    padding: 25px;
}

.experience-info-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 25px;
}

.experience-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-info-title {
    color: #344054;
    font-size: 25px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -0.6px;
}

.experience-designation,
.experience-date {
    color: #EE731B;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.3px;
}

.experience-date {
    color: #344054;
}

.experience-info-seperator {
    position: absolute;
    top: 0;
    right: 50%;
    background-color: #EE731B;
    width: 2.5px;
    height: 100%;
}

.experience-info-dot-one,
.experience-info-dot-two,
.experience-info-dot-three {
    position: absolute;
    left: -18px;
    width: 36px;
    height: 36px;
    background-color: #EE731B;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.experience-info-dot-one {
    top: 14.5%;
}

.experience-info-dot-two {
    top: 48.5%;
}

.experience-info-dot-three {
    top: 82.5%;
}

.experience-mobile {
    display: none;
}
.experience-show-more{
    display: none;
}

@media screen and (max-width: 768px) {
    .experience-wrapper{
        padding: 50px 25px;
    }
    .experience-container {
        flex-direction: row-reverse;
        justify-content: center;
    }

    .experience-info-right {
        display: none;
    }

    .experience-info-seperator {
        display: none;
    }

    .experience-info-dot-one,
    .experience-info-dot-two,
    .experience-info-dot-three {
        left: -18px;
    }
    .experience-info-dot-one{
        background-color: white;
        color: black;
        border: 2px solid #EE731B;
    }

    .experience-mobile {
        display: flex;
        align-items: flex-start !important;
        padding-bottom: 10px;
        border-bottom: 2px solid #F2F2F2;
        padding: 25px 25px 10px 25px
    }

    .experience-info-left {
        max-width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .experience-main-container .experience-container:nth-child(even) {
        flex-direction: row;
    }
    .experience-info-left > p > ul{
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
    .experience-show-more{
        position: absolute;
        width: 100%;
        width: -webkit-fill-available;
        bottom: -8px;
        padding: 25px;
        font-size: 14px;
        font-weight: 700;
        color: #321A50;
        background: linear-gradient(0deg, #F9F9F9 45.38%, rgba(249, 249, 249, 0.20) 76.89%);
        height: 200px;
        display: flex;
        align-items: end;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
    .show-experience{
        max-height: 2000px;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }
    .hide-experience{
        max-height: 800px;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }
    .experience-info-left > p{
        padding-top: 0px;
    }
}