.home-wrapper {
    height: 100%;
    width: 100%;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.home-hero-wrapper {
    height: 100%;
    width: 100%;
    max-width: 1100px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
    margin-top: 130px;
}

.home-hero-container {
    animation: slideInFromBottom 0.8s ease-out forwards;
}

.home-hero-image {
    position: absolute;
    bottom: -2px;
    /* left: 16rem; */
    height: 500px;
    width: auto;
    filter: contrast(1.2);
    z-index: 5;
    filter: drop-shadow(0 0 1000px white);

    animation: slideInFromBottom 1.5s ease-out forwards;
}

.home-hero-button {
    position: absolute;
    z-index: 6;
    bottom: 40px;
    /* left: 40%; */

    padding: 10px;
    border-radius: 50px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(7.5px);

    animation: slideInFromBottom 1s ease-out forwards;
}

.home-hero-backdrop-style-show {
    position: absolute;
    bottom: 0;
    /* left: -55px; */
    width: 871px;
    z-index: 4;
    transition: all 0.4s ease-in-out;
}

.home-hero-backdrop-style-hide {
    position: absolute;
    bottom: 0px;
    /* left: 400px; */
    width: 0px;
    z-index: 4;
    transition: all 0.4s ease-in-out;
}

.home-hello-title {
    position: relative;
    display: inline-flex;
    padding: 12px 25px;
    justify-content: center;
    align-items: center;

    font-weight: 500;
    border-radius: 38px;
    border: 2px solid #171717;
    background: rgba(255, 255, 255, 0.10);
}

.home-hello-title>div {
    position: absolute;
    top: -23px;
    right: -23px;
}

.home-title-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.home-text-bounce{
    --bounce-distance: -15px;
    animation: moveUpDownInfinity 5s ease-in-out infinite;
}

@keyframes slideInFromTopo {
    from {
      margin-top: 0%;
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    to {
      margin-top: 30%;
      opacity: 0;
    }
  }

.home-title-wrapper-hide {
    animation: slideInFromTopo 0.4s ease-out forwards;
}

.home-title-wrapper-show {
    animation: slideInFromBottom 0.4s ease-out forwards;
}

.home-title {
    /* color: #000; */
    text-align: center;
    font-size: 65px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -1.433px;
    margin: 3px 0px;
}

.home-title>span {
    color: var(--primary-color);
}

.home-info {
    width: 100%;
    max-width: 100%;
    max-width: -webkit-fill-available;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease-in-out;
}

.home-info-initial {
    top: 40%;
}

.home-info-final {
    top: 27%;
}

.home-about {
    width: 220px;

    animation: slideInFromLeft 1.5s ease-out forwards;

}

.home-about>p {
    /* color: #344054; */
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
}

.home-experience {
    width: 250px;
    text-align: end;

    animation: slideInFromRightBottom 1.5s ease-out forwards;
}

.home-experience-title {
    /* color: #344054; */
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.705px;
}

.home-experience-title > p{
    display: flex;
    justify-content: end;
    align-items: center;
}
.home-experience-title > p :nth-child(2){
    font-size: 16px;
}

.home-experience-title>span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.3px;
}

@media screen and (max-width: 768px) {
    .home-wrapper {
        overflow: hidden;
        height: 100vh;
    }

    .home-title-wrapper {
        gap: 15px;
    }

    .home-hello-title {
        padding: 5px 16px;
    }

    .home-title {
        font-size: 26px;
    }

    .home-info-initial {
        display: none;
    }

    .home-hero-wrapper {
        height: 100%;
    }

    .home-hero-image {
        height: 460px;
    }
    .home-hero-image {
        filter: unset;
    }

}