.btn {
    width: 100%;
    color: #FFF;
    text-align: center;
    font-weight: 600;
    line-height: 22px;
    border-radius: 8px;
    cursor: pointer;
    outline: unset;
    border: unset;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-green {
    background: #04A777;
    color: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(4, 167, 119, 0.15);
}

.btn-orange {
    background: var(--primary-color);
    color: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(248, 102, 36, 0.15);
}

.btn-white {
    border: 1px solid #E7E7E7;
    background: #FFF;
    color: #321A50;
    box-shadow: 0px 2px 4px 0px rgba(188, 188, 188, 0.20);
}

.btn-gray {
    background: #E8E9ED;
    color: #321A50;
    box-shadow: 0px 2px 4px 0px rgba(188, 188, 188, 0.20);
}

.btn-green:hover {
    background: #00835C;
}

/* .btn-green:focus {
    background: #004E37;
} */

.btn-orange:hover {
    filter: brightness(85%);
}

/* .btn-orange:focus {
    background: #6F2200;
} */

.btn-gray:hover {
    background: #D9D9D9;
}

/* .btn-gray:focus {
    background: #BFBFBF;
} */
.btnSvg{
    margin-left: 10px;
}
.btn:disabled {
    opacity: 0.5;
}

.btn-large {
    font-size: 17px;
    padding: 14px 22px 13px 22px;
    height: 49px;
}

.btn-medium {
    font-size: 15px;
    padding: 12.5px 18px 11.5px 18px;
    height: 46px;
}

.btn-small {
    font-size: 13.5px;
    padding: 11.5px 14px 10.5px 14px;
    height: 38px;
}

.loader {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}