.about-wrapper {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    justify-content: space-between;
    background: rgba(234, 234, 234, 0.30);
    padding: 100px 25px;
}

.about-section {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.hire-me-container {
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.hire-me-image-container {
    width: 100%;
    height: 100%;
    max-width: fit-content;
}

.hire-me-image-container>img {

    height: 100%;
}

.hire-me-picture{
    position: relative;
}

.hire-me-ellipse{
    position: absolute;
    z-index: -1;
    bottom: 30px;
}

.onhover-show{
    width: 300px;
    transition: all 0.5s ease-in-out;
    left: 90px;
}
.onHover-hide{
    width: 0;
    transition: all 0.5s ease-in-out;
    left: 230px;
}

.about-title {
    color: #321A50;
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;
}

.about-about {
    color: #FD853A;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about-title>span {
    color: #FD853A;
}

.about-description {
    color: #321A50;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    padding-left: 15px;
    margin: 0;
    width: 100%;
}

.about-description>li {
    margin-bottom: 5px;
}

.about-range-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.range-container {
    display: flex;
    flex-direction: column;
}

.range-title {
    display: flex;
    justify-content: space-between;
}

.range-title>div {
    color: #321A50;
    font-size: 12px;
    font-weight: 500;
}

.about-tech {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-tech-title {
    border-right: 2px solid rgba(45, 46, 50, .5);
    color: #2d2e32;
    font-family: Mulish, sans-serif;
    font-weight: 600;
    margin-right: 5rem;
    padding-right: 2rem;
}

.tech-icon-container {
    display: flex;
    gap: 25px;
}

@media screen and (max-width: 768px) {
    .hire-me-container {
        flex-direction: column;
    }

    .about-tech {
        flex-direction: column;
        gap: 30px;
    }

    .tech-icon-container {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .about-tech-title {
        border-right: unset;
        margin-right: unset;
        padding-right: 0px;
    }

    .hire-me-image-container {
        display: none;
    }

    .about-section {
        gap: 50px;
    }

    .about-wrapper {
        padding: 50px 25px;
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px) {
    .hire-me-container {
        flex-direction: column;
    }

    .hire-me-image-container {
        margin-bottom: 30px;
    }
}