.contact-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 570px;
}

.contact-container {
  width: 100%;
  width: -webkit-fill-available;
  position: absolute;
  top: 50px;
  max-width: 1100px;
  border-radius: 15px;
  margin-left: 25px;
  margin-right: 25px;

  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.contact-title {
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 50px;
}

.contact-title > span {
  color: var(--primary-color);
}

.contact-description {
  margin-top: 15px;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.contact-info-main {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-info-contaier {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 24px;
  gap: 15px;
}

.info-title {
  /* color: #424e60; */
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.info-email {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.info-email > img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.thumbs-up {
  width: 40px;
  height: 40px;
}

.info-description {
  /* color: #132238; */
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.contact-image {
  width: 578px;
  z-index: -1;
  position: absolute;
  bottom: -48px;
  right: 51px;
  opacity: 0.2;
}

.contact-image > img {
  width: 100%;
}

.contact-content {
  padding: 70px;
}

.contact-info-svg {
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .contact-wrapper {
    padding-bottom: 50px;
    height: unset;
  }

  .contact-container {
    position: unset;
    width: 100%;
    width: -webkit-fill-available;
  }

  .contact-content {
    padding: 25px;
  }

  .contact-image > img {
    display: none;
  }

  .contact-title {
    font-size: 25px;
  }

  .contact-description {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .info-title {
    font-size: 13px;
  }

  .info-description {
    font-size: 13px;
  }

  .contact-info-contaier {
    padding: 12px;
  }
}

@media screen and (max-width: 500px) {
  .contact-container {
    margin: 0;
    border-radius: unset;
    box-shadow: unset;
  }
  .contact-wrapper {
    padding: 0;
  }
}
