.header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 50px;
    background: #171717;
    backdrop-filter: blur(7.5px);
    color: white;
    gap: 40px;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
}

.bigger-header {
    max-width: 1100px;
    transition: max-width 0.7s ease-in-out;
}

.smaller-header {
    max-width: 50px;
    transition: max-width 0.7s ease-in-out;
}

.header-btn {
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #9c9c9d;
    transition: color 0.3s ease-in-out;
}

.header-btn-selected {
    color: white;
}

.header-btn:hover {
    color: white;
}

.logo-head {
    cursor: pointer;
}

.header-mobile {
    display: none;
}

.mobile-header-wrapper-start {
    display: none;
}

.header-option-section {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-btn-mobile{
    background-color: var(--primary-color);
}
@media screen and (max-width: 950px) {
    .header-resume {
        display: none;
    }
    .header-wrapper {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .header-btn{
        padding: 8px 15px;
    }
    .smaller-header{
        height: 50px;
    }
    .mobile-header-wrapper-start {
        display: flex;
    }

    .header-desktop {
        display: none;
    }

    .logo-head {
        display: none;
    }

    .header-mobile {
        display: flex;
    }

    .mobile-header-wrapper-start {
        position: absolute;
        top: -25px;
        left: -25px;
        background-color: rgba(63, 69, 107, 0.50);
    }

    .open-mobile-menu {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }

    .close-mobile-menu {
        width: 0vw;
        height: 100vh;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }

    .mobile-header-wrapper {
        position: relative;
        width: 260px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 100px 25px 25px 25px;
        background-color: #171717;
        align-items: center;
    }

    .menuCloseIcon {
        position: absolute;
        right: 12px;
        top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        width: -webkit-fill-available;
        padding: 0px 25px;
    }

    .mobile-header-wrapper>div:hover {
        color: var(--primary-color);
    }

}

@media screen and (min-width: 770px) {
    .home-header {
        justify-content: center !important;
    }
}

@media screen and ( max-width: 600px ) {
    
}