.footer-main {
    background-color: rgba(234, 234, 234, 0.30);
}

.footer-wrapper {
    display: flex;
    padding: 130px 70px 70px 70px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 24px 24px 0px 0px;
    background: #272727;
    gap: 40px;
}

.footer-about-section {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
}

.footer-about-section>div {
    cursor: pointer;
}

.footer-about-section>div:hover {
    opacity: 0.5;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 25px;
}

.footer-reserved {
    font-size: 18px;
    color: white;
}

.footer-reserved>span {
    font-size: 21px;
    font-weight: 700;
    color: rgb(253, 111, 0);
}

@media screen and (max-width: 750px) {
    .footer-wrapper {
        padding: 70px 25px;
        border-radius: unset;
        align-items: flex-start;
    }

    .footer-about-section {
        align-items: flex-start;
        flex-direction: column;
    }

    .footer-reserved {
        font-size: 12px;
    }

    .footer-reserved>span {
        font-size: 12px;
    }
}