.footer-wrapper {
    display: flex;
    padding: 200px 70px 70px 70px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border-radius: 24px 24px 0px 0px;
    gap: 40px;

    background-image: url('https://res.cloudinary.com/dpyrylw7s/image/upload/v1742752040/background/footer-gradient.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.footer-about-section {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
}

.footer-about-section>div {
    cursor: pointer;
}

.footer-about-section>div:hover {
    color: var(--primary-color);
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 25px;
}

.footer-reserved {
    font-size: 18px;
    color: white;
}

.footer-reserved>span {
    font-size: 21px;
    font-weight: 700;
    color: var(--primary-color);
}

@media screen and (max-width: 750px) {
    .footer-wrapper {
        padding: 70px 25px;
        border-radius: unset;
        align-items: flex-start;
    }

    .footer-about-section {
        align-items: flex-start;
        flex-direction: column;
    }

    .footer-reserved {
        font-size: 12px;
    }

    .footer-reserved>span {
        font-size: 12px;
    }
}