.popup-layout-wrapper {
    position: relative;
}

.popup-layout-container {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 69, 107, 0.60);
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-layout-body {
    position: relative;
    border-radius: 10px;
    border: 1px solid #EFEFEF;
    background: #FFF;
    box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.09);
    padding: 40px;
}

.popup-layout-close {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
}

/* Resume Popup */
.resume-popup-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.resume-popup-heading {
    color: #333;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    line-height: 22px;
}
.resume-popup-sub-heading {
    color: #757575;
font-size: 14.5px;
font-weight: 400;
line-height: 26px; 
margin-top: 10px;
margin-bottom: 10px;
}

.resume-popup-button-conatiner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}