@import "tailwindcss";


:root {
  --primary-color: #f76b14;
}

body,
p {
  font-family: Inter, Arial, sans-serif;
  margin: 0;
}

.disable-background-scroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  body {
    overflow-y: scroll;
  }

  body::-webkit-scrollbar {
    width: 4px;
  }

  body::-webkit-scrollbar-track {
    background: none;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    /* outline: 0px solid #C4C4C4; */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    border: 1px solid #c4c4c4;
    box-shadow: 0px 2px 4px rgba(188, 188, 188, 0.12);
  }
}

body {
  background-color: #ffffff;
  color: #201c1c;
  transition: background 0.5s ease, color 0.3s ease;
}

body.dark {
  background-color: #201c1c;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-500%);
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromRightBottom {
  from {
    transform: translateX(500%);
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(500%);
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-500%);
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveUpDownInfinity {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(calc(var(--bounce-distance, -50px)));
  }
}

.home-main-screen {
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.home-header {
  width: 100%;
  max-width: -webkit-fill-available;
  position: sticky;
  top: 5px;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0px 25px;

  animation: slideInFromTop 1.5s ease-out forwards;
}

.header-title-container {
  display: flex;
  align-items: center;
  gap: 10px;
  /* padding-left: 40px;
  padding-right: 40px; */
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background: var(--primary-color);
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
}

.header-logo-title {
  font-size: 20px;
  font-weight: 700;
}

.home-sub-title {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.page-heading-title {
  color: #321a50;
  font-size: 40px;
  font-weight: 600;
  line-height: 100%;
  margin-top: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.page-heading-title > div {
  position: relative;
  z-index: 2;
}

.page-heading-title > div > svg {
  position: absolute;
  left: -15px;
  z-index: -1;
  top: -11.5px;
  width: 60px;
  height: 60px;
}
.social-icon {
  fill: white;
  cursor: pointer;
}
.social-icon:hover {
  fill: var(--primary-color);
}
@media screen and (max-width: 1100px) {
  .home-main-screen {
    height: calc(100vh - 80px);
  }
}
@media screen and (max-width: 768px) {
  .home-main-screen {
    height: calc(100vh - 75px);
  }
  .header-title-container {
    padding-left: 0;
    padding-right: 0;
  }

  .page-heading-title {
    font-size: 32px;
  }

  .page-heading-title > div > svg {
    width: 50px;
    height: 50px;
    top: -7.5px;
    left: -10px;
  }

  .home-header {
    justify-content: flex-start;
    margin-top: 25px;
  }

  .home-header {
    top: 25px;
  }
}
