.card-wrapper {
    position: relative;
    width: 100%;
    /* max-width: 280px; */
    border-radius: 12px;
    background: #FFF;

    box-shadow: 0px 2px 4px 0px rgba(188, 188, 188, 0.20);
}

.card-img-container>img {
    aspect-ratio: 1.5;
    object-fit: cover;
    border: 1px solid #E7E7E7;
}

.card-img-container>img {
    height: 250px;
    width: 350px;
    border-radius: 8px;
}

.card-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
    padding-bottom: 16px;
}

.card-title {
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.card-date {
    color: white;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.6;
}

.card-description {
    color: white;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    margin: 15px 0px;
}

.card-description-container {
    width: -webkit-fill-available;
    padding: 15px 25px 25px 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.30);
    backdrop-filter: blur(12.5px);
}

.card-description-hover {
    max-height: 265px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.card-description-not-hover {
    max-height: 15px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
    .card-img-container>img {
        width: 100%;
    }
}