/* Custom CSS */
.range-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background-color: var(--primary-color);
    outline: none;
    transition: opacity 0.2s;
    border-radius: 40px;
}

.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 26px;
    height: 26px;
    background: #ffffff;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
    border-radius: 50px;
    cursor: pointer;
}

.range-slider.touched::-webkit-slider-thumb {
    opacity: 1;
}

.range-slider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    background-color: #4b5563;
    border-radius: 50%;
    cursor: pointer;
}

.range-slider.touched::-moz-range-thumb {
    opacity: 1;
}

.range-slider::-ms-thumb {
    width: 12px;
    height: 12px;
    background-color: #4b5563;
    border-radius: 50%;
    cursor: pointer;
}

.range-slider.touched::-ms-thumb {
    opacity: 1;
}
